{% extends "base.html" %}

{% block head_title %}Password reset successful{% endblock %}

{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
    <h2 class="col-12 top-header">Password Reset Done</h2>
</header>

<section class="container section-container">
    <div class="col">
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <p>You should be receiving it shortly.</p>
    </div>
</section>
{% endblock %}