{% extends "base.html" %}

{% block head_title %}Reset Password{% endblock %}

{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
    <h2 class="col-12 top-header">Reset Password</h2>
</header>

<section class="container section-container">
    <div class="col">
        <form method="post" class="accountform text-center">
            <p class="reset-text">Please specify your email address to receive instructions for resetting it.</p>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input class="reset-pass-btn" type="submit" value="Reset password"/></p>
        </form>
    </div>
</section>
{% endblock %}