/* ******************** Base ******************** */

body {
    font-family: Arial;
    padding-top: 100px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    text-align: center;
}

.github-link {
    color: #A9A9A9;
}

.github-link:hover {
    color: black;
}

/* ********************  ******************** */

/* .icon-bar {
    background-color: #fff;
} 

.accountform {
    padding-top: 20px;
}*/

/* ******************** Project Page ******************** */

.top-header {
    padding-left: 10px;
}

.project {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    /* margin: 0 auto; */
}

.panel-default {
    border-color: transparent;
    padding: 10px 10px;
    min-width: 260px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

.project-description {
    min-height: 40px;
}

/* ******************** Cart Page ******************** */

.cart-form {
    padding-left: 10px;
}

.cart-icon {
    padding-right: 2px;
}

.cart-btn {
    margin-left: 5px;
}

.fa-eur {
    padding-left: 2px;
}

.checkout-box {
    border-top: 1px solid gray;
    background-color: lightgray;
    width: 300px;
    margin: 20px -5px;
    padding: 10px;
}