/* ******************** Base ******************** */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    padding-top: 56px;
}

.navbar {
    background-color: rgb(201, 201, 201);
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.alert-message {
  visibility: hidden;
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 100;
  background-color: #C3E6CB;
}

.alert-message.show {
    visibility: visible;
    animation: alertMessageShow 0.5s, alertMessageHide 0.5s 3.5s;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(168, 168, 168, 1);
    background-color:  rgb(201, 201, 201);
    color: rgba(117, 117, 117, 1);
    text-align: center;
}

.footer-text {
    padding-left: 10px;
}

.github-link {
    color: rgba(117, 117, 117, 1);
}

.github-link:hover {
    color: black;
}

.main-container {
    background-image: url("/media/images/background.png");
    min-height: 100vh;
    background-attachment: fixed;
}

/* ******************** Homepage ******************** */

.top-pic-home {
    height: 50vh;
    background-image: url("/media/images/group-of-kids-big.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-heading {
    text-align: center;
    padding: 50px 0;
}

.sub-heading-home {
    padding-top: 20px;
}

.search-home {
    margin: 0 10px;
    padding-bottom: 30px;
}

.input-home {
    height: 38px;
}

.search-btn-home {
    margin-top: 10px;
}

.stats-container {
    background-color: white;
}

.stat-box {
    padding-top: 40px;
}

.home-icon {
    padding-left: 20px;
}

.stat-divider {
    margin-top: 45px;
    margin-bottom: 0px;
    width: 70%;
}

.end-container {
    padding-bottom: 110px;
}

/* ******************** Project Page ******************** */

.top-container {
    position: relative;
    text-align: center;
    padding: 0;
}

.top-pic {
    margin: 0;
    height: 30vh;
    background-image: url("/media/images/group-of-kids-big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top-header {
    background-color:  rgb(201, 201, 201);
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

.section-container {
    padding-top: 30px;
    padding-bottom: 40px;
}

input {
    border-radius: 3px;
    border: 1px solid #ddd;
}

.search-bar {
    padding-left: 10px;
}

.search-btn {
    border-radius: 3px;
}

.input-group-text {
    border-top-left-radius: 3px!important;
    border-bottom-left-radius: 3px!important;
}

.project {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    /* margin: 0 auto; */
}

.panel-row {
    padding-top: 20px;
}

.panel-default {
    border-color: transparent;
    padding: 10px 10px;
    min-width: 260px;
    margin: 0 auto;
}

.panel-body {
    height: 100%;
    border: 1px solid rgba(168, 168, 168, 1);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: rgba(221,221,221,0.4);
}

.link-to-details {
    color: inherit;
    text-decoration: none !important;
}

.link-to-details:hover {
    color: grey;
}

.project-description {
    min-height: 40px;
}

.btn-icon {
    padding-right: 3px;
}

.read-btn {
    margin: 20px 10px 10px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    border-radius: 50%;
    font-size: 25px;
}

/* ******************** Add Project Page ******************** */

#id_image {
    background-color: transparent;
    border: none;
}

.add-btn {
    margin: 10px;
}

/* ******************** Cart Page ******************** */

.cart-form {
    padding-left: 10px;
    margin: auto;
}

.cart-btn {
    width: 75px;
    margin: 10px auto;
}

.cart-buttons {
    margin-top: 0.4rem;
    margin-left: 0.6rem;
}

.fa-eur {
    padding-left: 2px;
}

.cart-text {
    margin: auto;
    padding: 30px 10px;
    text-align: center;
}

.checkout-box {
    border: 1px solid rgba(168, 168, 168, 1);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(168, 168, 168, 0.5);
    margin: 40px auto;
    padding: 10px;
}

.checkout-box-content {
    width: 100%;
}

/* ******************** Checkout Page ******************** */

.checkout-form {
    border: 1px solid rgba(168, 168, 168, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 50px auto;
}

.checkout-form legend {
    padding-left: 10px;
}

/* ******************** Profile Page ******************** */

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 18rem;
    margin: auto;
    margin-bottom: 40px;
}

.card-img-top {
    border-radius: 150px;
    overflow: hidden;
    border: solid 2px;
    width: 85%;
    padding: 20px 30px 10px;
    margin: 20px auto 0;
}

.card-title {
    text-align: center;
    padding: 20px 0;
}

.change-btn {
    width: 80%;
    margin: 0 20px;
}

.divider {
    background-color: rgba(168, 168, 168, 1);
    width: 50%;
}

.profile-header {
    text-align: center;
    padding-bottom: 20px;
}

.no-projects {
    margin: 0 auto;
}

.profile-buttons {
    padding-bottom: 30px;
}

.profile-btn {
    margin: 20px 10px 0;
}

/* ******************** Login/Registration Pages ******************** */

.general-card {
    background-color: rgba(221,221,221,0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(168, 168, 168, 1);
    border-radius: 3px;
    margin: 2rem auto;
}

.help-block{
    display: none;
}

.form-text {
    padding-top: 30px;
    text-align: center;
}

/* ******************** Project Details ******************** */

.project-added {
    color: rgba(117, 117, 117, 1);
}

/* ******************** Reset Password Pages ******************** */

.reset-text{
    padding-top: 2rem;
}

.reset-pass-btn {
    margin-top: 1rem;
}

/* ******************** Media Queries ******************** */

@media (min-width:768px) {
    .search-btn-home {
        margin-top: 0;
        margin-left: 10px;
    }
}

/* ******************** Keyframes ******************** */

@keyframes alertMessageShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes alertMessageHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}