{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block head_title %}Add Project{% endblock %}
{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
</header>

<section class="container section-container">

	<div class="general-card col-md-8 col-lg-5">
		<h2 class="form-text">Add Project</h2>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ add_project_form | as_bootstrap }}
				<div class="col-12 text-center">
					<button type="submit" class="btn btn-success add-btn"><i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i>Add Project</button>
                    <a href="{% url 'profile' %}" class="btn btn-light add-btn"><i class="fa fa-times-circle btn-icon" aria-hidden="true"></i>Cancel</a>
				</div>
			</form>
		</div>
	</div>

</section>

{% endblock %}a