{% extends 'base.html' %}

{% block head_title %}{{ project.name|title }} | Details{% endblock %}

{% block content %}
<!-- Top picture with header -->
<header class="container-fluid top-container">
	<div class="row top-pic" title="group of kids"></div>
	<h2 class="col-12 top-header">{{ project.name|title }}</h2>
</header>

<!-- Show project details -->
<section class="container-fluid details-container">
	<div class="row panel-row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 display panel panel-default">
			<div class="panel-body">
				<div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
				<hr>
				<h3>{{ project.name }}</h3>
				<h5><strong>{{ project.category }}</strong></h5>
				<p class="project-description">{{ project.description }}</p>
                <p class="project-added">This project was added by {{ project.added_by|title }}</p>
                <!-- Form to add project to cart -->
				<form method="post" action="{% url 'add_to_cart' project.id %}">
					{% csrf_token %}
					<div class="input-group">
						<label for="{{project.pk}}" class="sr-only">Add Amount in Euro</label>
						<div class="input-group-prepend">
							<span class="input-group-text">€</span>
						</div>
						<input id="{{project.pk}}" name="amount" type="number" min="5" max="99999" class="form-control" placeholder="Enter Amount">
						<div class="input-group-append">
							<button class="btn btn-secondary" type="submit" data-toggle="modal" data-target="#shoppingModal"><i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i>Add</button>
						</div>
					</div>
				</form>
				
                <!-- If user has added this project, show Edit and Delete buttons -->
                {% if user.is_authenticated and user == project.added_by %}
                <div class="text-center">
                    <a href="{% url 'edit_project' project.pk %}" class="btn btn-light read-btn"><i class="fa fa-pencil-square-o btn-icon" aria-hidden="true"></i>Edit</a>
                    <button class="btn btn-danger read-btn" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash btn-icon" aria-hidden="true"></i>Delete</button>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
</section>

<!-- Delete modal that pops up when user clicks the delete button -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ project.name|title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this project?</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'delete_project' project.pk %}" class="btn btn-danger"><i class="fa fa-check-square btn-icon" aria-hidden="true"></i>Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle btn-icon" aria-hidden="true"></i>No</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}