{% extends 'base.html' %}

{% block content %}
<section class="container section-container">
    <div class="row">
        <h2 class="top-header">All Projects</h2>
    </div>

    <div class="row">
        <div class="display search-bar">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="search" class="search-btn"><i class="fa fa-search btn-icon" aria-hidden="true"></i>Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        {% for project in projects %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                <hr>
                <h3>{{ project.name }}</h3>
                <h5>{{ project.category }}</h5>
                <p class="project-description">{{ project.description }}</p>

                <form method="post" action="{% url 'add_to_cart' project.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="exampleInputAmount" class="sr-only">Add Amount in Euro</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input name="amount" type="number" min="5" max="99999" class="form-control" placeholder="Enter Amount">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit"><i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i>Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}