{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block head_title %}User Login{% endblock %}
{% block content %}

<section class="container section-container">

	<div class="login-card">
		<h2 class="form-text">Login</h2>
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
				{{ login_form | as_bootstrap }}
				<div class="col-12 text-center">
					<button type="submit" class="btn btn-secondary">Login</button>
				</div>
			</form>

			<p><a class="form-text" href="{% url 'password_reset' %}">Reset Password</a></p>
		</div>
	</div>

</section>

{% endblock %}a