{% extends 'base.html' %}

{% block head_title %}{{ user|title }}'s Profile{% endblock %}

{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
    <h2 class="col-12 top-header">{{ user|title }}'s Profile</h2>
</header>

<section class="container section-container">

    <div class="card profile-card">
        <img class="card-img-top" src="/media/images/smiley.png" alt="Smiley">
        <div class="card-body">
            <hr>
            <h3 class="card-title">{{ user|title }}'s Profile</h3>
            <p><strong>Username:</strong> {{ profile.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
            <a href="{% url 'password_reset' %}" class="btn btn-danger profile-btn"><i class="fa fa-key btn-icon" aria-hidden="true"></i>Change password</a>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="{% url 'add_project' %}" class="btn btn-secondary" role="button"><i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i>Add Own Project</a>
            <a href="{% url 'index' %}" class="btn btn-secondary" role="button"><i class="fa fa-home btn-icon" aria-hidden="true"></i>Back to Homepage</a>
        </div>
    </div>
</section>

<button onclick="topFunction()" id="myBtn" class="btn btn-warning" title="Go to top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
{% endblock %}