{% extends 'base.html' %}

{% block head_title %}{{ user|title }}'s Profile{% endblock %}

{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
    <h2 class="col-12 top-header">{{ user|title }}'s Profile</h2>
</header>

<section class="container section-container">

    <div class="card profile-card">
        <img class="card-img-top" src="/media/images/smiley.png" alt="Smiley">
        <div class="card-body">
            <hr>
            <h3 class="card-title">{{ user|title }}'s Profile</h3>
            <p><strong>Username:</strong> {{ profile.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
            <a href="{% url 'donation_history' %}" class="btn btn-success change-btn"><i class="fa fa-key btn-icon" aria-hidden="true"></i>See donation history</a>
            <a href="{% url 'password_reset' %}" class="btn btn-danger change-btn"><i class="fa fa-key btn-icon" aria-hidden="true"></i>Change password</a>
        </div>
    </div>
</section>

<hr class="divider">

<section class="container section-container">
    <h3 class="profile-header">Projects added by {{ user|title }}</h3>
    <div class="row">
            {% for project in user_projects %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 display panel panel-default">
                    <div class="panel-body">
                        <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                        <hr>
                        <h3>{{ project.name }}</h3>
                        <h5><strong>{{ project.category }}</strong></h5>
                        <p class="project-description">{{ project.description }}</p>

                        <form method="post" action="{% url 'add_to_cart' project.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <label for="exampleInputAmount" class="sr-only">Add Amount in Euro</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                </div>
                                <input name="amount" type="number" min="5" max="99999" class="form-control" placeholder="Amount">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit" data-toggle="modal" data-target="#shoppingModal"><i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i>Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <a href="{% url 'project_details' project.pk %}" class="btn btn-light read-btn">Read More</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="no-projects">
                    <p>You haven't added any projects yet.</p>
                </div>
            {% endfor %}
	</div>
</section>

<section class="container section-container">
    <div class="row">
        <div class="col profile-buttons text-center">
            <a href="{% url 'add_project' %}" class="btn btn-secondary profile-btn" role="button"><i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i>Add Project</a>
            <a href="{% url 'index' %}" class="btn btn-secondary profile-btn" role="button"><i class="fa fa-home btn-icon" aria-hidden="true"></i>Back to Homepage</a>
        </div>
    </div>
</section>

<button onclick="topFunction()" id="myBtn" class="btn btn-warning" title="Go to top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
{% endblock %}