{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_title %}Cart{% endblock %}

{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
    <h2 class="col-12 top-header">Your Cart</h2>
</header>

<section class="container section-container">
    <div class="row">
        {% if project_count > 0 %}
            {% for item in cart_items %}
                <div class="col-xs-10 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 display panel panel-default">
                    <div class="panel-body">
                        <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ item.project.image }}')"></div>
                        <hr>
                        <h3>{{ item.project.name }}</h3>
                        <h5><strong>{{ item.project.category }}</strong></h5>
                        <p class="project-description">{{ item.project.description }}</p>
                        <div class="row amend-row">
                            <form class="form-inline cart-form" method="POST" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div>
                                    <label for="exampleInputAmount" class="sr-only">New Amount in Euro</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">€</span>
                                        </div>
                                        <input name="amount" type="number" min="0" max="99999" class="form-control" value="{{ item.amount }}">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary"><i class="fa fa-pencil-square-o btn-icon" aria-hidden="true"></i>Amend</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger cart-btn"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="cart-text">
                <p>Your cart is currently empty. Look through our projects to find something that you would like to support.</p>
                <div class="col text-center">
                    <a href="{% url 'projects' %}" class="btn btn-secondary cart-buttons" role="button"><i class="fa fa-globe btn-icon" aria-hidden="true"></i>All Projects</a>
                    <a href="{% url 'index' %}" class="btn btn-secondary cart-buttons" role="button"><i class="fa fa-home btn-icon" aria-hidden="true"></i>Back to Homepage</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row checkout-box col-md-8 col-lg-5">
        <div class="checkout-box-content text-center">
            <h5><strong>Total</strong></h5>
            <p><strong>{{ total }}<i class="fa fa-eur" aria-hidden="true"></i></strong></p>
            {% if project_count > 0 %}
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i class="fa fa-check-circle btn-icon" aria-hidden="true"></i>Checkout</a>
            {% endif %}
        </div>
    </div>
</section>

<button onclick="topFunction()" id="myBtn" class="btn btn-warning" title="Go to top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
{% endblock %}