{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %} | Help Others</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <a class="navbar-brand" href="{% url 'index' %}">Help Others</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'category' category='Animals' %}">Animals</a>
                        <a class="dropdown-item" href="{% url 'category' category='Arts' %}">Arts & Culture</a>
                        <a class="dropdown-item" href="{% url 'category' category='Community' %}">Community & Family</a>
                        <a class="dropdown-item" href="{% url 'category' category='Education' %}">Education</a>
                        <a class="dropdown-item" href="{% url 'category' category='Environment' %}">Environment</a>
                        <a class="dropdown-item" href="{% url 'category' category='Disaster' %}">Disaster Relief</a>
                        <a class="dropdown-item" href="{% url 'category' category='Health' %}">Health & Medical</a>
                        <a class="dropdown-item" href="{% url 'category' category='Human' %}">Human Services</a>
                        <a class="dropdown-item" href="{% url 'category' category='Housing' %}">Housing</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">{{ user|title }}'s Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {%  else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    {% if project_count > 0 %}
                        <label class="badge badge-warning">{{ project_count }}</label>
                    {% endif %}</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
        <div class="alert-message" id="message-alert">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <main class="main-container">

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <div class="container">
            <a class="github-link" href="https://github.com/alnibo/milestone-project-4-help-others" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <span class="d-none d-sm-inline footer-text">This website was created for educational purposes only.</span>
        </div>
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>