{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_title %}Page Not Found{% endblock %}

{% block content %}
<header class="container-fluid top-container">
    <div class="row top-pic" title="group of kids"></div>
</header>

<section class="container section-container">
    <div class="error-div text-center">
        <h1 class="error-heading">Oops!</h1>
        <h2><i class="fa fa-exclamation-circle btn-icon" aria-hidden="true"></i>500 - Internal Server Error</h2>
    </div>
    <div class="row">
            <div class="col text-center">
                <a href="{% url 'projects' %}" class="btn btn-secondary cart-buttons" role="button"><i class="fa fa-globe btn-icon" aria-hidden="true"></i>All Projects</a>
                <a href="{% url 'index' %}" class="btn btn-secondary cart-buttons" role="button"><i class="fa fa-home btn-icon" aria-hidden="true"></i>Back to Homepage</a>
            </div>
    </div>
</section>
{% endblock %}